[% USE raw %]
[% USE Asset %]
[% SET footerjs = 1 %]
[% USE Koha %]
[% USE TablesSettings %]
[% INCLUDE 'doc-head-open.inc' %]
<title>Koha &rsaquo; Z39.50/SRU search results</title>
[% INCLUDE 'doc-head-close.inc' %]
<style>
    #dataPreview { width : 90%; top: 5%; } .modal-body { max-height: 380px; } .modal-header { padding: 0 14px; } @media (max-width: 767px) { #dataPreview { margin: 0; width : auto; } }
</style>
</head>

<body id="cat_z3950_search" class="cat">
    <div class="container-fluid">
        [% IF ( opsearch ) %]
            <h2>Z39.50/SRU search</h2>
            <form method="post" action="z3950_search.pl" name="f" class="checkboxed">
                <div class="row">
                    <div class="col-xs-6">
                        <input type="hidden" name="op" id="op" value="do_search" />
                        <fieldset class="rows">
                            <ol>
                                <li>
                                    <label for="isbn">ISBN: </label> <input type="text" id="isbn" name="isbn" value="[% isbn | html %]" class="focus" />
                                </li>
                                <li>
                                    <label for="issn">ISSN: </label> <input type="text" id="issn" name="issn" value="[% issn | html %]" /></li>
                                <li>
                                    <label for="title">Title: </label> <input type="text" id="title"  name="title" value="[% title | html %]" /></li>
                                <li>
                                    <label for="author">Author: </label> <input type="text" id="author" name="author" value="[% author | html %]" /></li>
                                <li>
                                    <label for="publicationyear">Publication year: </label> <input type="text" id="publicationyear" name="publicationyear" value="[% publicationyear | html %]" /></li>
                                <li>
                                    <label for="subject">Subject heading: </label> <input type="text" id="subject" name="subject" value="" /></li>
                                <li>
                                    <label for="srchany">Keyword (any): </label> <input type="text" id="srchany" name="srchany" value="" /></li>
                                <li>
                                    <label for="lccall">LC call number: </label> <input type="text" id="lccall" name="lccall" value="" /></li>
                                <li>
                                    <label for="controlnumber">Control no.: </label> <input type="text" id="controlnumber" name="controlnumber" value="" /></li>
                                <li>
                                    <label for="dewey">Dewey: </label> <input type="text" id="dewey" name="dewey" value="" /></li>
                                <li>
                                    <label for="stdid">Standard ID: </label> <input type="text" id="stdid" name="stdid" value="" /></li>
                                <li>
                                    <a id="resetZ3950Search" href="#"><i class="fa fa-trash"></i> Clear search form</a>
                                </li>
                            </ol>
                            <input type="hidden" name="biblionumber" value="[% biblionumber | html %]" />
                            <input type="hidden" name="frameworkcode" value="[% frameworkcode | html %]" />
                        </fieldset> <!-- /.rows -->
                    </div> <!-- /.col-xs-6 -->

                    <div class="col-xs-6">
                        <h2>Search targets</h2>
                        <div id="z3950_search_targets">
                            <span class="z3950checks">
                                <span class="checkall"><a id="CheckAll" href="#"><i class="fa fa-check"></i> Select all</a></span> |
                                <span class="clearall"><a id="CheckNone" href="#"><i class="fa fa-remove"></i> Clear all</a></span>
                            </span>
                            [% FOREACH serverloo IN serverloop %]
                                <p>
                                    [% IF ( serverloo.checked ) %]
                                        <input type="checkbox" name="id" id="z3950_[% serverloo.id | html %]" value="[% serverloo.id | html %]" checked="checked" />
                                    [% ELSE %]
                                        <input type="checkbox" name="id" id="z3950_[% serverloo.id | html %]" value="[% serverloo.id | html %]" />
                                    [% END %]
                                    <label for="z3950_[% serverloo.id | html %]">[% serverloo.servername | html %]</label>
                                </p>
                            [% END %]
                        </div> <!-- /#z3950_search_targets -->
                    </div> <!-- /.col-xs-6 -->
                </div> <!-- /.row -->

                <nav class="navbar navbar-default navbar-fixed-bottom">
                    <div class="container-fluid">
                        <fieldset class="action"><input type="submit"  class="submit" value="Search" /> <a class="cancel close" href="#">Cancel</a></fieldset>
                    </div>
                </nav>
            </form> <!-- /.checkboxed -->

        [% ELSE # IF opsearch %]

            <div class="row">
                <div class="col-xs-12">
                    <h2>Results</h2>
                    <p>
                        You searched for:
                        [% IF ( title ) %]<em>Title: </em><span class="term">[% title | html %]</span> [% END %]
                        [% IF ( author ) %]<em>Author: </em><span class="term">[% author | html %]</span> [% END %]
                        [% IF ( publicationyear ) %]<em>Publication year: </em><span class="term">[% publicationyear | html %]</span> [% END %]
                        [% IF ( isbn ) %]<em>ISBN: </em><span class="term">[% isbn | html %]</span> [% END %]
                        [% IF ( issn ) %]<em>ISSN: </em><span class="term">[% issn | html %]</span> [% END %]
                        [% IF ( lccall ) %]<em>LC call number: </em><span class="term">[% lccall | html %]</span> [% END %]
                        [% IF ( subject ) %]<em>Subject heading: </em><span class="term">[% subject | html %]</span> [% END %]
                        [% IF ( controlnumber ) %]<em>Control no: </em><span class="term">[% controlnumber | html %]</span> [% END %]
                        [% IF ( dewey ) %]<em>Dewey: </em><span class="term">[% dewey | html %]</span> [%END %]
                        [% IF ( srchany ) %]<em>Raw (any): </em><span class="term">[% srchany | html %]</span> [% END %]
                        [% IF ( stdid ) %]<em>Standard ID: </em><span class="term">[% stdid | html %]</span> [% END %]
                    </p>
                    [% IF ( errconn ) %]
                        <div class="dialog alert">
                            <ul>
                            [% FOREACH errcon IN errconn %]
                                [% IF ( errcon.error == '10000' ) %]<li>Connection failed to [% errcon.server | html %]</li>
                                [% ELSIF ( errcon.error == '10007' ) %]<li>Connection timeout to [% errcon.server | html %]</li>
                                [% ELSIF errcon.error.match( '^XSLTH' ) %]<li>[% errcon.server | html %] record [% errcon.seq | html %]: [% PROCESS 'xslt-handler.inc' code=errcon.error %]</li>
                                [% ELSE %]<li>[% errcon.server | html %] record [% errcon.seq | html %]: [% errcon.error | html %]</li>
                                [% END %]
                            [% END %]
                            </ul>
                        </div>
                    [% END %]

                    [% IF ( breeding_loop ) %]
                        <table id="resultst">
                            <thead>
                                <tr>
                                    <th>Server</th>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Year</th>
                                    <th>Edition</th>
                                    <th>ISBN</th>
                                    <th>LCCN</th>
                                    [% IF Koha.Preference('AdditionalFieldsInZ3950ResultSearch') != '' %]
                                        <th>Additional fields</th>
                                    [% END %]
                                    <th class="noExport">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                [% FOREACH breeding_loo IN breeding_loop %]
                                    [% IF ( breeding_loo.breedingid ) %]
                                        <tr id="row[% breeding_loo.breedingid | html %]">
                                            <td>[% breeding_loo.server | html %]</td>
                                            <td>[% breeding_loo.title | html %]</td>
                                            <td>[% breeding_loo.author | html %]</td>
                                            <td>[% breeding_loo.date | html %]</td>
                                            <td>[% breeding_loo.edition | html %]</td>
                                            <td>[% breeding_loo.isbn | html %]</td>
                                            <td>[% breeding_loo.lccn | html %]</td>
                                            [% IF Koha.Preference('AdditionalFieldsInZ3950ResultSearch') != '' %]
                                                <td>
                                                   <dl>
                                                      [% FOREACH addnumberfield IN breeding_loo.addnumberfields %]
                                                        [% FOREACH string IN breeding_loo.$addnumberfield %]
                                                            <dt>[% addnumberfield | html %]:</dt>
                                                            <dd>[% string | html %]</dd>
                                                        [% END %]
                                                      [% END %]
                                                   </dl>
                                                </td>
                                            [% END %]
                                            <td class="actions">
                                                <div class="btn-group dropup">
                                                    <a class="btn btn-default btn-xs dropdown-toggle" id="cataloguesearchactions[% breeding_loo.breedingid | html %]" role="button" data-toggle="dropdown" href="#">
                                                      Actions <b class="caret"></b>
                                                    </a>
                                                    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="cataloguesearchactions[% breeding_loo.breedingid | html %]">
                                                        <li><a href="/cgi-bin/koha/catalogue/showmarc.pl?importid=[% breeding_loo.breedingid | uri %]" title="MARC" class="previewData"><i class="fa fa-eye"></i> MARC preview</a></li>
                                                        <li><a href="/cgi-bin/koha/catalogue/showmarc.pl?viewas=card&amp;importid=[% breeding_loo.breedingid | uri %]" title="Card" class="previewData"><i class="fa fa-eye"></i> Card preview</a></li>
                                                        <li><a href="#" class="import_record" data-breedingid="[% breeding_loo.breedingid | html %]" data-biblionumber="[% breeding_loo.biblionumber | html %]" data-frameworkcode="[% frameworkcode | uri %]"><i class="fa fa-download"></i> Import</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    [% END %]
                                [% END %]
                            </tbody>
                        </table> <!-- /#resultst -->

                        <div id="dataPreview" class="modal" tabindex="-1" role="dialog" aria-labelledby="dataPreviewLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="closebtn" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h3 id="dataPreviewLabel">Preview</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div id="loading"> <img src="[% interface | html %]/[% theme | html %]/img/spinner-small.gif" alt="" /> Loading </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <form method="post" action="z3950_search.pl" id="page_form" name="page_form" class="checkboxed">
                            <input type="hidden" name="op" id="op" value="do_search" />
                            <input type="hidden" name="current_page" id="current_page" value="[% current_page | html %]" />
                            <input type="hidden" id="title"  name="title" value="[% title | html %]" />
                            <input type="hidden" id="isbn" name="isbn" value="[% isbn | html %]" />
                            <input type="hidden" id="lccall" name="lccall" value="[% lccall | html %]" />
                            <input type="hidden" id="controlnumber" name="controlnumber" value="[% controlnumber | html %]" />
                            <input type="hidden" id="srchany" name="srchany" value="[% srchany | html %]" />
                            <input type="hidden" id="author" name="author" value="[% author | html %]" />
                            <input type="hidden" id="publicationyear" name="publicationyear" value="[% publicationyear | html %]" />
                            <input type="hidden" id="subject" name="subject" value="[% subject | html %]" />
                            <input type="hidden" id="dewey" name="dewey" value="[% dewey | html %]" />
                            <input type="hidden" id="stdid" name="stdid" value="[% stdid | html %]" />
                            <input type="hidden" name="biblionumber" value="[% biblionumber | html %]" />
                            <input type="hidden" name="frameworkcode" value="[% frameworkcode | html %]" />

                            [% FOREACH server IN servers %]
                                <input type="hidden" name="id" id="z3950_[% server.id | html %]" value="[% server.id | html %]" />
                            [% END %]

                            [% IF ( show_prevbutton ) %]
                                <input type="button" name="changepage_prev" value="Previous page" data-currentpage="[% current_page | html %]" />
                            [% END %]
                            <span id="result_pagenumbers">Showing page [% current_page | html %] of [% total_pages | html %]</span>
                            [% IF ( show_nextbutton ) %]
                                <input type="button" name="changepage_next" value="Next page" data-currentpage="[% current_page | html %]" />
                            [% END %]
                            <br />Go to page : <input id="goto_page" name="goto_page" value="[% current_page | html %]" size="4" type="text" /><input type="submit" name="changepage_goto" value="Go" />
                        </form> <!-- /#page_form -->

                    [% ELSE %]
                        <div class="dialog message">Nothing found.</div>
                    [% END  # /IF breeding_loop %]

                    <form method="get" action="/cgi-bin/koha/cataloguing/z3950_search.pl">
                        <p>
                            <input type="hidden" name="biblionumber" value="[% biblionumber | html %]"/>
                            <input type="hidden" name="frameworkcode" value="[% frameworkcode | html %]"/>
                            <input type="submit" value="Try another search"/>
                        </p>
                    </form>
                </div> <!-- /.col-xs-12 -->
            </div> <!-- /.row -->
        [% END # /IF opsearch %]

        [% IF ( numberpending ) %]
            <h3 align="center">Still [% numberpending | html %] servers to search</h3>
        [% END %]

[% MACRO jsinclude BLOCK %]
    [% INCLUDE 'columns_settings.inc' %]
    [% INCLUDE 'datatables.inc' %]
    [% INCLUDE 'z3950_search.inc' %]
    [% Asset.js("js/z3950_search.js") | $raw %]
    <script>
        $(document).ready(function(){
            var columns_settings = [% TablesSettings.GetColumns( 'cataloguing', 'z3950_search', 'resultst', 'json' ) | $raw %];
            var thetable = KohaTable("resultst", {
                "aoColumnDefs": [
                    { "aTargets": [ 1 ], "sType": "nsb-nse" },
                ],
                "aaSorting": [[ 1, "asc" ]],
                "bPaginate": false
            }, columns_settings );
        });

        function columnsInit(){
            $(".dataTables_info").text( $("#result_pagenumbers").text() );
            $("#result_pagenumbers").hide();
        }
    </script>
[% END %]

[% INCLUDE 'intranet-bottom.inc' popup_window=1 %]
